<ul class="nav nav-tabs nav-stacked">
  <% @nav_pages.each do | page | %>
      <li><%= link_to(page.title, page_show_path(page)) %>
      <% page.children.each do | child_page | %>
		<li class="child"><%= link_to('- ' + child_page.title, page_show_path(child_page)) %></li>
	  <% end %>
      </li>
  <% end %>
  <% if BlogPost.count > 0 %>
    <li><%= link_to(SITE[:blogname], blog_path) %></li>
  <% end %>
</ul>
