<%# link_to "RSS Feed", blog_url(:rss) %>

<% @blogposts.each do |blogpost| %>
	<div class="blogpost">
	    <h2><%= link_to blogpost.title, page_show_path(blogpost) %></h2>
	    <%= raw blogpost.body %>
	    <i class="date"><%= l(blogpost.updated_at, format: :long) %></i>
    </div>
<% end %>

<%= will_paginate @blogposts %>
