@import "bootstrap";

.container{
  background: #ffffff;
  padding: 2em;


  .site-header{
    padding-top: 8em;
    height: 140px;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;

    h2{
      font-size: 1.3em;
      line-height: .5em;
    }
  }
  .content{
    padding-right: 2.7em;
    h2:first-child{
      margin-top: 0;
    }
  }
  .wyswyg-content{
    text-align: justify;
  }

  ul{
    a{
      font-weight:bold;
      color: #B56149;
    }
    padding-left: 2.7em;
    .child{
      a{
        font-weight:normal;
        padding-left: 2em;
      }
    }
  }
}